@import '../../../../assets/styles/colors'
@import '../../../../assets/styles/fonts'
@import '../../../../assets/styles/shadow'


.spots
  display: flex
  flex-wrap: wrap
  width: 100%
  height: auto

.selected .spot
  background-color: $primary-blue

.spot
  height: 2.5rem
  border-radius: 1rem 1rem 0 0
  background-color: $primary-grey
  margin-right: 0.4rem
  margin-bottom: 0.4rem
