@import '../../../../assets/styles/colors'
@import '../../../../assets/styles/fonts'
@import '../../../../assets/styles/shadow'


.infoLabel
  width: min-content
  font-size: 1rem
  font-family: $standard-font
  background-color: $primary-grey
  color: $font-white
  padding: 0.2rem 1rem
  border-radius: 3rem
  margin: 0

.none
  background-color: $primary-grey

.available
  background-color: $available

.booked
  background-color: $booked

.partial
  background-color: $partial

.inform
  background-color: $background-blue
