@import '../../../../assets/styles/colors'
@import '../../../../assets/styles/fonts'
@import '../../../../assets/styles/shadow'


.infoLabel
  width: min-content
  font-family: $standard-font
  background-color: $primary-grey
  color: $font-white
  padding: 0.2rem 1rem
  border-radius: 3rem
  white-space: nowrap
  margin: 0

.none
  background-color: $primary-grey

.available
  background-color: $available

.booked
  background-color: $booked

.partial
  background-color: $partial

.inform
  background-color: $background-blue

.s
  font-size: 0.8rem

.m
  font-size: 1rem

.l
  font-size: 1.2rem

.xl
  font-size: 1.4rem

.xll
  font-size: 1.6rem
