@import '../../../../assets/styles/colors'
@import '../../../../assets/styles/fonts'
@import '../../../../assets/styles/shadow'


.navlink
  height: 2.375rem
  width: max-content
  font-size: 1.2rem
  font-family: $standard-font
  color: $font-white
  text-decoration: none
  background-color: $primary-white
  color: $font-black
  margin: 0
  padding: 0 1rem
  border-radius: 3rem
  display: flex
  align-items: center
  justify-content: center

  &:hover
    background-color: $primary-white-hover

.alternative
  background-color: $primary-grey
  color: $font-white

  &:hover
    background-color: $primary-grey-hover

.active
  background-color: $primary-blue
  color: $font-white

  &:hover
    background-color: $primary-blue-hover

.circle
  width: 2.375rem
  height: 2.375rem
  display: flex
  align-items: center
  justify-content: center
  padding: 0
