@import '../../../../assets/styles/colors'
@import '../../../../assets/styles/fonts'
@import '../../../../assets/styles/shadow'


.caption
  margin: 0
  padding: 0
  font-family: $standard-font
  color: $font-grey-std
  font-size: 0.8rem
  width: 100%
